@import 'SCSS/errorText.scss';

.Game {
  padding: $lh 10px 0;
  min-height: 500px;
  max-width: 400px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stats {
  width: 100%;
  padding: $lh / 2;
  td,
  th {
    width: 25%;
    text-align: center;
    padding: 5px;
  }
  //   padding: $lh;
  //   display: flex;
  //   justify-content: space-between;
}

.dice {
  display: flex;
  justify-content: center;
  margin: $lh auto;
  // position: absolute;
  // bottom: 10px;
  // left: 0;
  // right: 0;
  // padding: 0 5px;

  img {
    width: 19%;
    max-height: 60px;
    max-width: 60px;
    margin: 0 2px 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 $lh;

  img {
    width: 45%;

    &:active {
      transform: translateY(1px);
    }
    &:first-of-type {
      margin-right: 5px;
    }

    &:nth-of-type(2) {
      margin-left: 5px;
    }
  }
}

table.score {
  // margin-bottom: 40px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: $lh 0 0;

  th,
  td {
    // border: 1px solid black;
    border-width: 1px;
    border-style: solid;
    vertical-align: middle;
    min-width: 32px;
    font-size: 0.9rem;
  }
  tr {
    height: 27px;

    td,
    th {
      height: 27px;

      &:nth-child(1),
      &:nth-child(4) {
        font-size: 0.7rem;
        width: 25%;
        min-width: 85px;
      }
    }
  }
  th {
    font-weight: 800;
    font-size: 0.7rem;
  }

  td {
    img {
      width: 20px;
    }
  }
}

td.selected {
  background-color: rgba(yellow, 1);
  color: black;
}
td.scoreCell {
  background-color: rgba(yellow, 0.2);
}
