@import 'SCSS/variables.scss';
@import 'SCSS/mixins.scss';
@import 'SCSS/errorText.scss';

.Game {
  padding: 0 10px 0;
  min-height: 500px;
  max-width: 400px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    margin: 0 auto;
    width: 80%;

    font-size: 1.5rem;
    text-align: center;
  }
}

.controls {
  line-height: $lh;
  margin-bottom: $lh/2;

  border-radius: 0 0 7px 7px;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: $lh/2 10px;

  display: flex;
  justify-content: space-evenly;

  svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

table.menu {
  width: 100%;
  padding: $lh / 2;
  td,
  th {
    width: 25%;
    text-align: center;
    padding: 5px;

    &:first-child {
      width: 50%;
    }
  }
}

div.players {
  display: flex;
  overflow: hidden;
  margin: $lh 0px $lh/2;

  p.label {
    margin-right: 5px;
  }

  div {
    display: flex;
  }

  p {
    font-size: 0.8rem;
    line-height: $lh/2;
    cursor: pointer;
  }

  span {
    margin-right: 5px;
  }
}

.dice {
  display: flex;
  justify-content: center;
  margin: $lh auto;
  // position: absolute;
  // bottom: 10px;
  // left: 0;
  // right: 0;
  // padding: 0 5px;

  img {
    width: 19%;
    max-height: 60px;
    max-width: 60px;
    margin: 0 2px 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 $lh;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;

    p {
      margin-right: 10px;
    }

    &:hover {
      svg {
        @include SpinningDice(1);
      }
    }

    svg {
      margin: 0 5px;
    }
  }
}

div.score {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 0;

  .header {
    display: flex;

    p {
      border-style: solid;
      border-width: 0 0 1px;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 0.9rem;
      font-weight: 800;
      padding: $lh/2 0;

      &:nth-child(1),
      &:nth-child(3) {
        width: 35%;
        min-width: 85px;
      }

      &:nth-child(2),
      &:nth-child(4) {
        width: 15%;
      }
    }
  }

  .row {
    display: flex;

    p {
      border-style: solid;

      display: flex;
      justify-content: center;
      align-items: center;

      min-width: 32px;
      line-height: $lh;
      margin: $lh/4 0;

      &:nth-child(1),
      &:nth-child(3) {
        font-size: 0.7rem;
        width: 35%;
        min-width: 85px;
      }

      &:nth-child(2),
      &:nth-child(4) {
        width: 15%;
      }
    }
  }

  .footer {
    display: flex;

    div {
      width: 50%;
    }

    p:first-of-type {
      padding: 5px;
      font-size: 1rem;
      width: 35%;
      text-align: center;
      line-height: $lh;
    }

    p:nth-of-type(2) {
      padding: 5px;
      font-size: 1rem;
      width: 15%;
      text-align: center;
      line-height: $lh;
    }
  }
}
