@import 'SCSS/variables.scss';
@import 'SCSS/mixins.scss';

div.arrowContainer {
  position: relative;
  height: 0;
  width: 200px;
}

.switchCircle {
  position: absolute;

  padding: 0;
  width: 97px;
  height: 97px;
  bottom: -49px;

  border-style: solid;
  border-radius: 50%;
}

.blocker {
  position: absolute;

  padding: 0;
  width: 85px;
  height: 23px;
  z-index: 5;
}

.arrowButton {
  $aniTime: 0.5s;

  position: relative;
  width: 200px;
  border-radius: 40px;
  z-index: 0;

  &:hover {
    button {
      // padding-left: 20px;
      transition: all $aniTime;
      -webkit-transition: all $aniTime;
    }
    div {
      transform: translateX(20px);
      transition: all $aniTime;
      -webkit-transition: all $aniTime;
    }
  }

  button {
    @include Button;
    max-width: 225px;
    border-radius: 0;

    animation-timing-function: ease-in;
    -webkit-transition: all $aniTime;
    transition: all $aniTime;
    padding-right: 15px;
  }

  div {
    position: absolute;
    border-style: solid;

    &.arrowHead {
      width: 37.4767px;
      height: 37.4767px;
      padding: 0;
      border-width: 1px 1px 0 0;

      transform: rotate(45deg);

      z-index: 2;
      border-style: solid;
    }
  }
}
