@import 'SCSS/variables.scss';

div.Buttons {
  width: 100%;
  height: 2 * $lh;
  display: flex;
  justify-content: space-between;
  //   margin: $lh / 2 0;

  button {
    width: 50%;
    font-size: 1.2rem;
  }
}
