@import 'SCSS/variables.scss';
@import 'SCSS/errorText.scss';
@import 'SCSS/form.scss';

.Account {
  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    h2 {
      width: 50%;
      border: 2px solid black;
      font-size: 2rem;
      text-align: center;
      padding: $lh / 2 0;
      cursor: pointer;
      line-height: $lh;
      border-radius: 20px 20px 0 0;

      &.inactive {
        opacity: 0.3;
      }
    }
  }
}
