@import 'SCSS/variables.scss';
@import 'SCSS/form.scss';
@import 'SCSS/errorText.scss';

.Account {
  margin: 0 auto;
  max-width: 500px;

  button {
    border-radius: 40px;
  }
}

div.bubble {
  position: relative;

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: -34px;
    top: -21px;

    border-radius: 50%;
    width: 95px;
    height: 95px;
  }

  div {
    width: 81px;
    height: 20px;

    position: absolute;
    z-index: 1;
    left: -27px;

    &:first-of-type {
      bottom: 52px;
    }
    &:last-of-type {
      top: 52px;
    }
  }
}

.darkMode {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
