@import 'SCSS/variables.scss';

.GameTable {
  padding: 0 15px;
  width: 90%;
  margin: 0 auto;
  line-height: $lh;
  min-height: 280px;

  thead > tr {
    border-width: 0 0 2px;
    border-style: solid;
  }

  tr {
    display: flex;
    align-items: center;
    height: $lh * 2;
    margin: $lh/2 0;
    &:first-of-type {
      margin: 0 0 $lh/2;
      th {
        font-weight: 800;

        &:nth-child(1) {
          text-align: left;
          width: 50%;
        }
        &:nth-child(n + 2) {
          width: 25%;
        }
      }
    }

    &.noGames {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 313px;
      margin: 0px;

      td {
        padding: $lh / 2 0;
        p {
          text-align: center;
        }
      }
    }

    td {
      height: $lh * 2;
      padding: $lh/2 0;
      &:nth-child(1) {
        text-align: left;
        width: 50%;
      }
      &:nth-child(n + 2) {
        width: 25%;
        text-align: center;
      }
    }
  } // tr

  tfoot {
    height: 100%;
  }
}

.pagination {
  width: 90%;
  margin: 0 auto;
  line-height: $lh;
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  p {
    padding: $lh/2 0;

    &.inactive {
      opacity: 0.2;
    }

    &.active {
      cursor: pointer;
    }
  }
}
