@import 'SCSS/variables.scss';

.GameTable {
  padding: 0 15px;
  width: 90%;
  margin: 0 auto;
  line-height: $lh;

  tr {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    &:first-of-type {
      th {
        font-weight: 800;

        &:nth-child(1) {
          text-align: left;
          width: 50%;
        }
        &:nth-child(n + 2) {
          width: 25%;
        }
      }
    }

    td {
      padding: $lh/2 0;
      &:nth-child(1) {
        text-align: left;
        width: 50%;
      }
      &:nth-child(n + 2) {
        width: 25%;
        text-align: center;
      }
    }
  } // tr
}

.pagination {
  width: 90%;
  margin: 0 auto;
  line-height: $lh;
  display: flex;
  justify-content: space-between;

  // border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  p {
    padding: $lh/2 0;

    &.inactive {
      opacity: 0.2;
    }
  }
}
