@import 'SCSS/variables.scss';

.shadow {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  max-width: 450px;
  position: absolute;
  z-index: 5;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 20px;
  padding: $lh/2;

  p {
    text-align: center;
    line-height: $lh;
    font-size: 1.2rem;
    margin-bottom: $lh / 2;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: 'center';

    button {
      height: 2 * $lh;
      margin-bottom: $lh/2;
      font-size: 1.2rem;
    }
  }
}
