@import "SCSS/variables.scss";
@import "SCSS/mixins.scss";

.die {
  width: fit-content;
  height: fit-content;
  display: flex;

  &.small {
    & > img,
    & > svg {
      height: 20px;
      width: 20px;
    }
  }

  &.medium {
    & > img,
    & > svg {
      height: 60px;
      width: 60px;
    }
  }

  &.large {
    & > img,
    & > svg {
      height: 80px;
      width: 80px;
    }
  }
}
