@import './variables.scss';
@import './mixins.scss';

form.standard {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.fContainer {
      width: 100%;
      padding: $lh/2 0;
    }

    label {
      width: 30%;
      text-align: right;
      line-height: $lh;
      font-size: 1.2rem;
    }

    input {
      margin: 0 auto;
      width: 90%;
      height: 2 * $lh;
      padding: 0 10px;
      font-size: 1.2rem;
    }
  }

  div.inputs {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    width: 470px;

    p {
      text-align: center;
      line-height: $lh;
      font-size: 18px;
    }

    input {
      @include Input;
    }
  }

  div.buttons {
    p {
      line-height: $lh;
      display: flex;
      margin: auto;
    }

    button.submit {
      @include Button;
    }
  }
}
