@import "./variables.scss";

:root {
  --primary: #191919;
  --primary-rgb: 25, 25, 25;
  --secondary: #e3e2e2;
  --secondary-rgb: 227, 226, 226;
  --highlight: #e5adaa;
  --highlight-rgb: 229, 173;
  --accent: #474714;
  --accent-rgb: 71, 71, 20;
  --brightAccent: #ffff00;
  --brightAccent-rgb: 225, 255, 0;
  --error: #e5adaa;
  --error-rgb: 229, 173, 170;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $mainFont;
}

body {
  background-color: var(--primary);
  height: 100vh;
  width: 100vw;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

table,
tr,
th,
td {
  font-family: $mainFont;
}

p,
a,
span,
input,
button {
  line-height: $lh * 3;
  margin: $lh / 2 0;
  font-family: $mainFont;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p,
a,
span,
input,
h1,
h2,
h3,
h4,
h5,
tr,
div {
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

p,
a,
span,
input,
h1,
h2,
h3,
h4,
h5,
div {
  color: var(--secondary);
  border-color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $lh * 3;
}

button {
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);

  p {
    color: var(--secondary);
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  }

  svg {
    color: var(--secondary);
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: var(--secondary);
    color: var(--primary);

    p {
      color: var(--primary);
    }

    svg {
      color: var(--primary);
    }
  }
}
