@import "./variables.scss";

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $mainFont;
}

table,
tr,
th,
td {
  font-family: $mainFont;
}

p,
span,
input,
button {
  font-family: $mainFont;
}
