@mixin Button {
  font-size: 1.2rem;
  line-height: $lh;
  border-radius: 40px;
  padding-top: $lh/2;
  padding-bottom: $lh/2;
  max-width: 184px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}

@mixin Input {
  margin: 0 auto;
  width: 90%;
  height: 2 * $lh;
  padding: 0 10px;
  font-size: 1.2rem;
}
