@mixin Button {
  font-size: 1.2rem;
  line-height: $lh;
  border-radius: 40px;
  padding-top: $lh/2;
  padding-bottom: $lh/2;
  max-width: 184px;
  width: 100%;
  cursor: pointer;
}

@mixin Input {
  margin: $lh/2 auto;
  width: 90%;
  height: 2 * $lh;
  padding: 0 10px;
  font-size: 1.2rem;
}

@mixin SpinningDice($count: infinite) {
  transform-origin: center center;
  animation-name: spin;
  animation-iteration-count: $count;
}

@mixin JumpingDice($count: infinite) {
  animation-name: jump;
  animation-iteration-count: $count;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(27deg);
  }
  18% {
    transform: rotate(32.4deg);
  }

  33%,
  100% {
    transform: rotate(180deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-8px);
  }
  18% {
    transform: translateY(-8px);
  }

  33%,
  100% {
    transform: translateY(0px);
  }
}

@mixin UnderlineOnHover {
  &::after {
    transition: width 0.1s;
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    content: "";
    position: relative;
    top: 2px;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
