@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// Font
$titleFont: 'Alfa Slab One', cursive;
$mainFont: 'Montserrat', sans-serif;

// Line height
$lh: 25px;

// Media
$tablet: '(min-width: 500px)';
$min: '(max-width: 500px)';
