@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Font
$titleFont: 'Alfa Slab One', cursive;
$mainFont: 'Poppins', sans-serif;

// Line height
$lh: 25px;
